
-- 1. Database & Schema Operations
-- 1. Create a new database
CREATE DATABASE company_db;

-- 2. Delete the database (Warning: Permanent!)
DROP DATABASE company_db;

-- 2. Creating Tables (CREATE TABLE)

-- SQL Data Types: INT (integers), VARCHAR (text), DECIMAL (currency), TIMESTAMP/DATE (time), BOOLEAN (true/false), and TEXT/BLOB (large data).
-- SQL Constraints: PRIMARY KEY (unique ID), FOREIGN KEY (links tables), NOT NULL (no blanks), UNIQUE (no duplicates), CHECK (conditions), and DEFAULT (fallbacks)

CREATE TABLE employees (
    emp_id INT PRIMARY KEY,                  -- Unique ID for each employee
    first_name VARCHAR(50) NOT NULL,         -- Text up to 50 chars, cannot be blank
    email VARCHAR(100) UNIQUE,               -- Text up to 100 chars, no two emails can match
    salary DECIMAL(10, 2) CHECK (salary > 0),-- Currency column; must be a positive number
    hire_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP -- Defaults to the exact time of entry
);

ALTER TABLE employees ADD COLUMN profile_picture BYTEA;

-- select * from employees; it prints nothing

-- 3. Connecting Tables (FOREIGN KEY)

CREATE TABLE departments (
    dept_id INT PRIMARY KEY,
    dept_name VARCHAR(50) NOT NULL
);

-- Creating a table that links back to departments
CREATE TABLE projects (
    project_id INT PRIMARY KEY,
    project_name VARCHAR(100),
    dept_id INT,
    FOREIGN KEY (dept_id) REFERENCES departments(dept_id) -- Links projects to a valid department
);


-- 4. Modifying Existing Structures (ALTER TABLE)

ALTER TABLE employees 
    ADD phone_number VARCHAR(20),
    alter column first_name type VARCHAR(100),
    DROP COLUMN email;

alter table employees add address varchar(80);
alter table employees alter column first_name type varchar(50);
alter table employees drop column first_name;    
alter table employees add first_name varchar(50);

-- 5. Cleaning Up Structures (TRUNCATE, RENAME, DROP)

alter table employees rename to staff;
alter table staff rename column first_name to staff_name;

-- truncate table staff; 
-- drop table staff;