-- CRUD Operation
-- 1. INSERT (Adding Data)

INSERT INTO staff (emp_id, staff_name, email, salary)
VALUES (101,'Amit Sharma', 'amit@company.com', 50000.00);

INSERT INTO staff (emp_id, staff_name, email, salary) VALUES 
(102,'ram', 'ram@company.com', 100000.00),
(103,'sri', 'sri@company.com', 40000.00),
(104,'sai', 'sai@company.com', 30000.00);


-- Read the data from staff table

select * from staff;


-- 2. UPDATE (Modifying Data)

UPDATE staff 
SET salary = 55000.00 
WHERE staff_name = 'Amit Sharma';

-- 3. DELETE (Removing Data)

DELETE FROM staff 
WHERE staff_name = 'Amit Sharma';


INSERT INTO staff (emp_id, staff_name, email, salary)
values (101,'Amit Sharma', 'amit@company.com', 50000.00);

-- 4. Upsert (Insert or Update if it exists)

-- ON CONFLICT means: "Try to add this new record. But if someone with the exact same unique ID is already there, use this backup plan instead of crashing."

 
select* from staff;




-- 1. Filtering (The WHERE Clause)

-- Filtering isolates rows based on strict conditional operators like =, <, >, !=, AND, OR, IN, and BETWEEN

SELECT * FROM staff 
WHERE salary >= 50000 
  AND emp_id IN (101, 103, 105);

select * from staff where emp_id between 104 AND 105;

select emp_id,staff_name,salary from staff where salary=30000;

-- 2. Pattern Matching (Searching Text or wildcards)

-- % matches zero or more characters.
-- _ matches exactly one character.

-- Finds emails starting with 'a' (e.g., amit@, alex@)
SELECT * FROM staff 
WHERE staff_name LIKE '%ai';

SELECT * FROM staff 
WHERE staff_name LIKE 's__';

-- 3. Sorting (ORDER BY)

-- ASC: Ascending order (A to Z, smallest to largest). This is the default.
-- DESC: Descending order (Z to A, largest to smallest).

-- Sorts highest salary first; if salaries match, sorts by name alphabetically
SELECT * FROM staff 
ORDER BY salary DESC, staff_name ASC;

--1st sort name then sort salary
SELECT * FROM staff 
ORDER BY staff_name ASC, salary DESC;

-- 4. Limiting (LIMIT & OFFSET) using for pagenation

-- Gets the top 5 highest-paid staff members
SELECT * FROM staff 
ORDER BY salary DESC 
LIMIT 3;

-- Skips the first 5 rows and gets the next 5 (Page 2 of data)
SELECT * FROM staff 
ORDER BY salary DESC 
LIMIT 3 OFFSET 3;

-- Combine -> filter, wildcard, sort, limit 

SELECT staff_name, salary 
FROM staff 
WHERE salary > 40000          -- 1. Filter
  AND email ILIKE '%@company.com' -- 2. Pattern Match (Case-insensitive)
ORDER BY salary DESC          -- 3. Sort
LIMIT 4;                     -- 4. Limit
